### Load data to build AnnData
To prepare a required AnnData input for scTenifoldXct, one needs three files: raw counts, metadata for genes and metadata for cells. For counts, scTenifoldXct accepts files with attributes "h5ad", "csv", "xlsx", "h5", "loom", "mtx", "txt". Metadata should be in "csv" like format.

In [1]:
# example

from scTenifoldXct.dataLoader import build_adata
from os import path

data_dir = path.join("data", "filtered_gene_bc_matrices")

counts_path = str(path.join(data_dir, "X.txt"))
gene_path = str(path.join(data_dir, "g.txt"))
cell_path = str(path.join(data_dir, "c.txt"))

adata = build_adata(counts_path, gene_path, cell_path, delimiter=',')
adata.var.columns = ['gene_name']
adata.obs.columns = ['cell_type']

print(adata)

loading counts from data\filtered_gene_bc_matrices\X.txt...
making counts sparse...
adding metadata for variables...
adding metadata for observations...
normalizing counts and save it to adata.layers["log1p"]
AnnData object with n_obs × n_vars = 7792 × 885
    obs: 'cell_type'
    var: 'gene_name'
    uns: 'log1p'
    layers: 'raw', 'log1p'

In [2]:
adata.obs.head()

   cell_type
0  e17.5-epi
1  e17.5-epi
2  e17.5-epi
3  e17.5-epi
4  e17.5-epi

In [3]:
adata.var.head()

  gene_name
0      LY96
1     RIMS1
2    COL9A1
3    SEMA4C
4     IL1R2